@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body{
    @apply font-primary bg-black text-white leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }




.text-outline {
  -webkit-text-stroke: 1px #ffffff;
}
.text-outline-hover {
  -webkit-text-stroke: 1px #00ff99;
}

}

@layer utilities {
  .font-primary {
    font-family: var(--font-jetbrainsMono);
  }
}

.hover\:expose-card {
  /* Initial state */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(0) scale(1);
  z-index: 0;
}

.hover\:expose-card:hover {
  /* Transform and elevate on hover */
  transform: translateY(-10px) scale(0.9);
  z-index: 10; /* Brings the card to the front */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Adds shadow effect */
}

.hover\:zoom-card {
  /* Initial state */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(0) scale(1);
  z-index: 0;
}

.hover\:zoom-card:hover {
  /* Transform and elevate on hover */
  transform: translateY(-10px) scale(1.1);
  z-index: 10; /* Brings the card to the front */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Adds shadow effect */
}